[submodule "modules/ATE"]
	path = modules/ATE
	url = https://github.com/ABB-VIT-EMC/ATE
[submodule "modules/saarto"]
	path = modules/saarto
	url = https://github.com/ABB-VIT-EMC/saarto.git
	branch = main
[submodule "modules/matta"]
	path = modules/matta
	url = https://github.com/ABB-VIT-EMC/matta.git
	branch = main
[submodule "modules/AutoTestLib"]
	path = modules/AutoTestLib
	url = https://github.com/ABB-VIT-EMC/AutoTestLib.git
	branch = main
[submodule "modules/PolarionComLib"]
	path = modules/PolarionComLib
	url = https://github.com/ABB-VIT-EMC/PolarionComLib.git
	branch = main
[submodule "modules/saarto-vision"]
	path = modules/saarto-vision
	url = https://github.com/ABB-VIT-EMC/saarto-vision.git
	branch = main
